snippet #mit
	# `expand('%:t')`
	# Author:  Nick Platt <platt.nicholas@gmail.com>
	# License: MIT <http://opensource.org/licenses/MIT>

	${1}

snippet //mit
	// `expand('%:t')`
	// Author:  Nick Platt <platt.nicholas@gmail.com>
	// License: MIT <http://opensource.org/licenses/MIT>

	${1}

snippet /*mit
	/* `expand('%:t')`
	 * Author:  Nick Platt <platt.nicholas@gmail.com>
	 * License: MIT <http://opensource.org/licenses/MIT>
	 */

	${1}
